{% extends 'base.html' %}
{% load static %}
{% block title %}
 Об авторе проекта
{% endblock %}

{% block content %}
<div class="container py-5">
  <h1>Привет! Я автор этого проекта!</h1>
    <p>
      "Короче, Меченый, я тебя спас и в благородство играть не буду: выполнишь для меня пару заданий — и мы в расчете" - напоминает моя совесть каждый день.
      Что ж, я готов расказать о себе! Работаю экологом в большой металлургической компании. Частенько меня закидывают в командировки, из-за чего
      к сожалению я периодически отстаю от темпов курса. Но стараюсь догонять!
    </p>
    <h2>Мои увлечения:</h2>
      <ul>
        <li>Путешествия,</li>
        <li>Настолки(у меня их мнооого),</li>
        <li>Программирование,</li>
        <li>Животные,</li>
        <li>Попытки выучить английский,</li>
      </ul>
    <p>
        Учиться мне помогает жена и кот, который очень
        часто поддерживает мяуканьем в сложные моменты.
        <h5>Вот этот красавец:<h5>
        <img src="{% static 'img/cat_cat.jpg' %}" width="400" 
        height="500" >
        <h5>А вот и я:</h5>
        <img src="{% static 'img/human_human.jpg' %}" width="400" 
        height="500">
    </p>
    <h5>Мой пока еще скудный гитхаб</h5>
    <a href="https://github.com/Markello93">
      Полюбопытствовать
    </a>
</div>
{% endblock %}